#banner {
	padding: 15% 1% 15% 1%;
	background-color: #ffffff;
	color: rgba(241,106,112, 0.90);
	background-attachment: fixed;
	background-image:url(../img/100daysUI-header.png);
	background-size: 100% 100%;
	text-align: center;
	margin-left: -1%;
	margin-right: -2%;
    margin-top: -1%;
    font-size: 300%
}

section {
    padding:10px;	 	 
}

h1 {
   position: relative; 
   top: 10%; 
   width: 100%; 
   text-align: center;
   font-size: 300%;
   color:#2c3e50;
}

